
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    src: "Material Symbols Outlined";
}

html {
    background-color: rgb(255 255 255 / 0%) !important;
}

body {
    margin: 0;
    font-family: "Noto Sans SC";
    background-color: rgb(255 255 255 / 0%) !important;
    height: 100vh;
}

::selection {
    background-color: rgb(var(--mdui-color-primary), 0.1);
}

*::part(input)::selection {
    background-color: rgb(var(--mdui-color-primary), 0.1);
}

top-bar {
    display: flex;
    height: 35px;
    user-select: none;
    -webkit-app-region: drag;
    align-items: center;
    justify-content: center;
}

@media (max-width: 400px) {
    right-btn .push_pin {
        display: none;
    }
    bottom-bar > span > span {
        display: none !important;
    }
}

@media (max-width: 300px) {
    right-btn .remove {
        display: none;
    }
}

top-bar mdui-icon {
    width: 16px;
    margin-right: 5px;
}

top-bar {
    font-size: 14px;
}

right-btn {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    height: 35px;
}

right-btn mdui-button mdui-icon {
    font-size: 16px;
}

right-btn mdui-button {
    width: 50px;
    -webkit-app-region: no-drag;
    border-radius: 0;
    height: 35px;
    min-height: inherit;
}

mdui-icon {
    font-family: Material Symbols Outlined;
}

body.on {
    opacity: 1;
}

body page {
    font-family: 'Noto Sans SC';
    position: fixed;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    /* background-color: rgb(var(--mdui-color-background), 1);
    border-radius: 1rem 1rem 0 0; */
}

.page-welcome, .page-welcome-comfyui, .page-welcome-complete {
    display: flex;
    padding: 30px;
    padding-top: 5vh;
    justify-content: center;
    user-select: none;
}

.page-welcome container, .page-welcome-comfyui container, .page-welcome-complete container {
    display: block;
    max-width: 600px;
    width: 600px;
}

.page-welcome container mdui-button, .page-welcome-comfyui container mdui-button, .page-welcome-complete container mdui-button {
    width: 100%;
}

.app-core {
    display: flex;
    height: calc(100% - 35px - 25px);
}

.app-core left-bar  {
    display: flex;
    overflow: auto;
    overflow-x: hidden;
    min-width: 50px;
    flex-direction: column;
    box-sizing: content-box;
    padding-top: 0;
    padding-left: 0;
    margin-right: 0;
}

.app-core left-bar mdui-button-icon, .app-core left-bar mdui-button-icon {
    margin-top: 0;
    min-width: 40px;
    min-height: 40px;
    margin: 5px;
}

page h1 {
    display: flex;
    align-items: center;
}

page h1 mdui-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin-right: 8px;
    color: rgb(var(--mdui-color-primary));
}

.app-core container {
    width: 100%;
    padding-left: 10px;
    padding-right: 30px;
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
    position: relative;
    border-radius: 1rem 0 0 1rem;
    background-color: rgb(var(--mdui-color-background), 0.4);
    border: 1px solid rgb(var(--mdui-color-surface-variant));
    border-right: 0;
    box-sizing: border-box;
}

mdui-tabs::part(container) {
    background-color: rgb(var(--mdui-color-surface), 0.0);
}

mdui-tabs::part(container)::after {
    content: none;
}

mdui-tab {
    border-radius: 156rem;
    overflow: hidden;
    min-width: min-content;
}

.app-core container {
    flex-direction: column !important;
}

*::part(menu) {
    max-height: 300px;
    overflow: auto;
}

mdui-icon, *::part(menu) mdui-icon {
    font-family: "Material Symbols Outlined" !important;
}

/* Custom scrollbar */
::-webkit-scrollbar, *::part(menu)::-webkit-scrollbar, *::part(input)::-webkit-scrollbar-thumb, mdui-tabs::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track, *::part(menu)::-webkit-scrollbar-track, *::part(input)::-webkit-scrollbar-track, *::part(container)::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb, *::part(menu)::-webkit-scrollbar-thumb, *::part(input)::-webkit-scrollbar-thumb, *::part(container)::-webkit-scrollbar-thumb {
    background-color: rgb(var(--mdui-color-primary));
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover, *::part(menu)::-webkit-scrollbar-thumb:hover, *::part(input)::-webkit-scrollbar-thumb:hover, *::part(container)::-webkit-scrollbar-thumb:hover {
    background-color: rgb(var(--mdui-color-primary));
}

mdui-tabs::part(container) {

}

.app-core buttom-bar {
    margin-top: auto;
    display: flex;
}

.app-core iframe {
    width: 100%;
    height: 100%;
    border: none;
    
    border-radius: 1rem 0 0 1rem;
    background-color: rgb(var(--mdui-color-background), 0.4);
    border: 1px solid rgb(var(--mdui-color-surface-variant));
    border-right: 0;
    box-sizing: border-box;
}

.page-main container {
    display: flex;
    flex-direction: row;
    padding: 0;
    /* border-radius: 1; */
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* margin-right: 10px; */
}

.page-main container #resizer {
    width: 1px;
    min-width: 1px;
    cursor: ew-resize;
    float: left;
    border-left: 1px solid rgb(var(--mdui-color-surface-variant));
    margin-top: 10px;
    margin-bottom: 10px;

  }

.page-main container app-left {
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 300px;
    padding: 10px;
    align-items: stretch;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.page-main container app-right {
    display: grid;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 0;
    position: relative;
    overflow: auto;
    padding: 0;
    padding-right: 0;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
}

.page-main container app-right.only {
    grid-template-columns: 1fr;
}


.page-main container app-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-radius: 1rem;
    /* background-color: rgb(var(--mdui-color-primary), 0.1); */
    align-items: center;
    justify-content: center;
}

.app-core app-left md-outlined-select, .app-core app-left md-outlined-text-field, .app-core app-left md-slider, .app-core app-left mdui-button {
    width: 100%;
}


mdui-list {
    margin-bottom: 20px;
}
/* 
md-menu[slotlistbox] {
    background-color: rgb(var(--mdui-color-primary), 0.1);
} */

bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    display: flex;
    font-size: 12px;
    padding-left: 50px;
    align-items: center;
    user-select: none;
    overflow: hidden;
}

#app-core-bottom-bar span {
    display: flex;
    align-items: center;
    margin-right: 5px;
    line-height: 25px;
}

#app-core-bottom-bar mdui-icon {
    font-size: 16px;
    margin-right: 2px;
}

left-bar mdui-button-icon.active {
    position: relative;
    background-color: rgb(var(--mdui-color-primary), 0.1);
    border-radius: 50%;

}

#page-container container.container-main {
    display: flex;
    flex-direction: row !important;
}
/* 
@media (max-width: 700px) {
    #page-container container.container-main {
        display: flex;
        flex-direction: column !important;
    }
    
    .page-main container app-left {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
        margin: 20px;
        align-items: stretch;
        margin-left: 0;
        margin-right: 0;
    }
    
    .page-main container app-right {
        width: calc(100% - 20px);
        height: 100%;
        min-height: 80vh;
        margin: 20px;
        margin-left: 0;
        margin-right: 0;
    }
} */



.app-core container {
    user-select: none;
}

.app-core container h1 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.app-core container p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

#advanced-options-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
}

#app-core-image-viewer img {
    width: 100%;
    border-radius: 1rem;
}

#history-list {
    display:grid;
    grid-template-columns: 1fr;
    gap: 10px;
    row-gap: 10px;
    padding: 0;
    margin: 0;
    margin-left: -5px;
    margin-right: 0;
    border-radius: 1rem;
    background: 0;
    padding-bottom: 20px;
}


@media (max-width: 300px) {
    #history-list mdui-card {
        width: calc(100% - 10px);
    }
} 

@media (min-width: 400px) {
    #history-list mdui-card {
        width: calc(50% - 10px);
    }
}


@media (min-width: 600px) {
    #history-list mdui-card {
        width: calc(33.333333333333% - 10px);
    }
}

@media (min-width: 900px) {
    #history-list mdui-card {
        width: calc(25% - 10px);

    }
}

@media (min-width: 1200px) {
    #history-list mdui-card {
        width: calc(20% - 10px);
    }
} 

body {
    transform: translate3d(0, 0, 0);

}

#history-list mdui-card, #app-core-image-viewer mdui-card {
    height: max-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 5px;
    border-radius: 1rem;
    flex-wrap: wrap;
    position: relative;
}

#history-list mdui-card {
    transition: all 0.25s;
}

#history-list mdui-card mdui-checkbox {
    opacity: 0;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: opacity 0.25s;
}

#history-list mdui-card:hover mdui-checkbox {
    opacity: 1;
    transition: opacity 0.25s;
}

#history-list mdui-card mdui-checkbox::after {
    content: '';
    display: block;
    background: transparent;
    width: 80px;
    height: 80px;
    left: -20px;
    top: -20px;
    position: absolute;
}

#history-list mdui-card img {
    width: 100%;
    margin: auto;
    border-radius: 1rem;
    margin: 0;
}

mdui-circular-progress#comfy-ui-load {
    width: 16px;
    height: 16px;
}

#app-core-image-generator mdui-tab-panel box {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.image-viewer {
    position: fixed;
    z-index: 110;
    background: #000000ac;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
}

.image-viewer img {
    display: block;
    user-select: none;
    margin: auto;
    cursor: zoom-in;
    transition: background-color 300ms, transform 0.25s;
    width: min-content;
    height: min-content;
    max-height: calc(90vh - 40px);
    max-width: calc(90vw - 40px);
    border-radius: 1rem;
}

.image-viewer img.zoomed {
    transform: scale(1.45);
}

.image-viewer .image-viewer-overlay {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.image-viewer-download {
    position: absolute;
    top: 20px;
    right: 20px;
}

.image-viewer-download mdui-icon {
    color: #fff;
}

.container-history #history-list.checked {

}

.container-history #history-list.checked mdui-card mdui-checkbox::after {
    width: 1000px;
    height: 1000px;
}

.container-history #history-list.checked mdui-card mdui-checkbox {
    opacity: 1;
}

.container-history-floating-menu {
    display: flex;
    margin-bottom: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}

.container-history-floating-menu #select-all {
    padding: 11px;
}

mdui-tab-panel {
    overflow: initial;
}

.container-history-floating-menu #delete-selected {
    margin-left: auto;
}

.container-terminal {
    border-radius: 1rem 0 0 1rem;
    background-color: rgb(var(--mdui-color-background), 0.4);
    border: 1px solid rgb(var(--mdui-color-surface-variant));
    box-sizing: border-box; 
    border-right: 0;
    user-select: auto !important;
}

.container-terminal pre {
    margin: 0;
}

.container-terminal pre code {
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    user-select: auto !important;
    font-family: 'Cascadia Code';
    /* 强制换行 */
    white-space: pre-wrap;
}

#app-core-image-viewer mdui-card {
}

#theme-color-input {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 0;
    background: var(--md-sys-color-bg);
}

input[type="color" i]::-webkit-color-swatch {
    border-radius: 50%;
    border: 0;
    width: 30px;
    height: 30px;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 5px;
}

.progress-item {
    font-size: 12px;
}

.progress-item p {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

#comfy-ui-load {
    margin-top: -4px;
}